<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo right teal-text hide-on-small-only">Dynamix Play Therapy</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="/what-is-play-therapy" class="teal-text">What is Play Therapy?</a></li>
      <li><a href="/about-me" class="teal-text">About Me</a></li>
      <li><a href="/what-to-expect" class="teal-text">What to expect</a></li>
      <li><a href="/resources" class="teal-text">Resources</a></li>
    </ul>

    <a id="logo-container" href="/" class="right teal-text hide-on-med-and-up">Dynamix Play Therapy</a>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons teal-text">menu</i></a>
     <ul id="nav-mobile" class="sidenav">
      <li><a href="/what-is-play-therapy" class="teal-text">What is Play Therapy?</a></li>
      <li><a href="/about-me" class="teal-text">About Me</a></li>
      <li><a href="/what-to-expect" class="teal-text">What to expect</a></li>
      <li><a href="/resources" class="teal-text">Resources</a></li>
    </ul>
  </div>
</nav>